body{
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(59, 59, 59);
    filter: drop-shadow(1px 4px rgba(0,0,0,.4))
}
#main{
    /* background: url("./img/bg.jpg"); */
    /* background-size: contain; */
    background-attachment: fixed;
    height: 100%;
    

}
#benefits{
    background: url("./img/bg2.jpg");
    /* background-size: contain; */
    /* background-attachment: fixed; */
     
   
}
@media (max-width: 990px){
    #benefits{
        height: 170vh;
    }
    #plans{
        height: 170vh;
    }
}
#plans{
    /* background-image: url("./img/bg4.jpg"); */
    /* background-size: auto; */
    /* background-attachment: fixed; */
    
   
}
#contact{
    background-image: url("./img/bg3.jpg");
    background-size: auto;
    background-attachment: fixed;
    
    

}
div{
    
    
    
  }
  
  section {
    display: table;
    width: 100%;
    
    
    
  }
.logo{
    transition: all .4s;
    width: 30%;
}
.nav-item{
    margin: 0 15px;
    border-radius: 15px;
    transition: all .2s;
}

.mainTitle{
    font-size: 3.5rem;
    font-weight: bold;

}
.bold{
    font-weight: bold;
}
.nav-item:hover{
    
    background-color: rgba(65, 63, 63, 0.4);
    padding:0 10px;
    
    
}
.icon{
    font-size: 4rem;
    text-align: center;
}
.logo:hover{
    
    transform: scale(1.1);
}
