html,body{
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(59, 59, 59);
    filter: drop-shadow(1px 4px rgba(0,0,0,.4));
    height: 100%;
}
#main{
    background: url("./img/bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
#benefits{
    padding-top: 15%;
    padding-bottom: 15%;
    background: url("./img/bg2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

#plans{
    padding-top: 15%;
    padding-bottom: 15%;
    background: url("./img/bg4.jpg");
    background-size: cover;
    background-attachment: fixed;
    
}
#contact{
    padding-top: 15%;
    padding-bottom: 15%;
    background: url("./img/bg3.jpg");
    background-size: cover;
    background-attachment: fixed;
    
}

.logo{
    transition: all .4s;
    width: 30%;
}
.nav-item{
    margin: 0 15px;
    border-radius: 15px;
    transition: all .2s;
}

.mainTitle{
    font-size: 3.5rem;
    font-weight: bold;

}
.bold{
    font-weight: bold;
}
.nav-item:hover{
    
    background-color: rgba(65, 63, 63, 0.4);
    padding:0 10px;
    
    
}
section{
    transition: all .4s;
}
.icon{
    font-size: 4rem;
    text-align: center;
}
.logo:hover{
    
    transform: scale(1.1);
}

@media (min-width: 768px) {
    #benefits, #plans, #contact {
        height: 100vh;
    }
}